@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

*{
    margin: 0;
    font-family: 'EB Garamond', serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3b3b3b;
    margin: 30px;
}

:root{
    --text-color: #e7e7e7;
}

ul, h1, h3, h4, p{
    color: var(--text-color);
}

.e-mail, .telefone, .endereco, .nascimento{
    display: flex;
    align-items: center;
    margin: 10px;
}

.e-mail p, .telefone p, .endereco p, .nascimento p{
    margin-left: 10px;
}

.eu{
    background-color: #0c8f63;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 800px;
}

.apresentacao{
    display: flex;
    justify-content: space-between;
}

.apresentacao img{
    display: flex;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.contatos{
    margin-left: 30px;
    margin-bottom: 10px;
}

.contatos a{
    margin-right: 15px;
}

.sobreMim{
    margin: 10px;
}

.sobreMim h3{
    text-align: center;
}

.progresso{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.ensino ul, .habilidades ul, .progresso ul{
    margin: 20px;
}

.ensino li, .habilidades li, .progresso li{
    margin-top: 8px;
}
